@use "sass:color";

$base-color: #2073D2;
$important-color: color.adjust($base-color, $lightness: -20%);
$warning-color: color.adjust($base-color, $lightness: 30%);
$primary-font: "Comic Sans MS", "Courier New", "Courier";
$secundary-font: "Impact", "Arial Black", "Times";
$box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.50);
$border-radius: 30px;